node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.dockerignore
Dockerfile
.git
.gitignore
.env
.env.*
.env.*.local
.DS_Store
.continue
.idea
build
dist
.tmp
tmp
.vscode
.idea
client/.env.local
.md