--
-- PostgreSQL database dump
--

\restrict sVe7JlBJb6A8hgyzomrSWgS0qQ4GxBpHMb8FiqS3lL0xrpHcgtxzD8clqV1b4TZ

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: update_error_logs_timestamp(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_error_logs_timestamp() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_error_logs_timestamp() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_deletion_audit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.account_deletion_audit (
    id integer NOT NULL,
    user_id_hash character varying(255),
    deletion_reason text,
    ip_address_encrypted bytea,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.account_deletion_audit OWNER TO postgres;

--
-- Name: account_deletion_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.account_deletion_audit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.account_deletion_audit_id_seq OWNER TO postgres;

--
-- Name: account_deletion_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.account_deletion_audit_id_seq OWNED BY public.account_deletion_audit.id;


--
-- Name: admin_login_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_login_attempts (
    id integer NOT NULL,
    user_id_hash character varying(255),
    ip_address_encrypted bytea,
    device_name character varying(255),
    login_status character varying(100),
    alert_sent boolean DEFAULT false,
    attempted_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.admin_login_attempts OWNER TO postgres;

--
-- Name: admin_login_attempts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admin_login_attempts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_login_attempts_id_seq OWNER TO postgres;

--
-- Name: admin_login_attempts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admin_login_attempts_id_seq OWNED BY public.admin_login_attempts.id;


--
-- Name: admin_trusted_ips; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_trusted_ips (
    id integer NOT NULL,
    user_id_hash character varying(255) NOT NULL,
    ip_address_encrypted bytea NOT NULL,
    device_name character varying(255),
    browser_info character varying(255),
    is_trusted boolean DEFAULT true,
    first_seen timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_accessed timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.admin_trusted_ips OWNER TO postgres;

--
-- Name: admin_trusted_ips_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admin_trusted_ips_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_trusted_ips_id_seq OWNER TO postgres;

--
-- Name: admin_trusted_ips_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admin_trusted_ips_id_seq OWNED BY public.admin_trusted_ips.id;


--
-- Name: app_analytics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_analytics (
    id integer NOT NULL,
    event_type character varying(50) NOT NULL,
    page_name character varying(100) NOT NULL,
    event_action character varying(100),
    ip_address_encrypted bytea,
    user_agent_encrypted bytea,
    browser_name character varying(50),
    browser_version character varying(20),
    os_name character varying(50),
    os_version character varying(20),
    device_type character varying(20),
    session_duration_ms integer,
    error_message_encrypted bytea,
    error_stack_encrypted bytea,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.app_analytics OWNER TO postgres;

--
-- Name: app_analytics_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.app_analytics_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.app_analytics_id_seq OWNER TO postgres;

--
-- Name: app_analytics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.app_analytics_id_seq OWNED BY public.app_analytics.id;


--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_log (
    id integer NOT NULL,
    user_id_hash character varying(255),
    action character varying(100),
    details jsonb,
    ip_address_encrypted bytea,
    email_encrypted bytea,
    user_agent_encrypted bytea,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.audit_log OWNER TO postgres;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_log_id_seq OWNER TO postgres;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: error_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.error_logs (
    id integer NOT NULL,
    service character varying(255) NOT NULL,
    error_message character varying(500) NOT NULL,
    severity character varying(20) DEFAULT 'error'::character varying,
    user_id_hash character varying(255),
    context character varying(255),
    error_stack_encrypted bytea,
    ip_address_encrypted bytea,
    is_resolved boolean DEFAULT false,
    resolution_notes character varying(1000),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.error_logs OWNER TO postgres;

--
-- Name: critical_errors_unresolved; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.critical_errors_unresolved AS
 SELECT id,
    service,
    error_message,
    user_id_hash,
    context,
    created_at,
    severity
   FROM public.error_logs
  WHERE (((severity)::text = 'critical'::text) AND (is_resolved = false) AND (created_at > (now() - '24:00:00'::interval)))
  ORDER BY created_at DESC;


ALTER VIEW public.critical_errors_unresolved OWNER TO postgres;

--
-- Name: error_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.error_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.error_logs_id_seq OWNER TO postgres;

--
-- Name: error_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.error_logs_id_seq OWNED BY public.error_logs.id;


--
-- Name: error_logs_summary; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.error_logs_summary AS
 SELECT service,
    severity,
    count(*) AS error_count,
    date(created_at) AS error_date,
    count(DISTINCT user_id_hash) AS affected_users
   FROM public.error_logs
  WHERE (created_at > (now() - '7 days'::interval))
  GROUP BY service, severity, (date(created_at))
  ORDER BY (date(created_at)) DESC, (count(*)) DESC;


ALTER VIEW public.error_logs_summary OWNER TO postgres;

--
-- Name: free_trial_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.free_trial_sessions (
    id character varying(36) NOT NULL,
    ip_address_hash character varying(64),
    ip_address_encrypted character varying(255) NOT NULL,
    user_id_hash character varying(64) NOT NULL,
    email_encrypted bytea,
    current_step character varying(50),
    is_completed boolean DEFAULT false,
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp without time zone,
    last_activity_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.free_trial_sessions OWNER TO postgres;

--
-- Name: free_trial_whitelist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.free_trial_whitelist (
    id integer NOT NULL,
    ip_address_hash character varying(64) NOT NULL,
    ip_address_encrypted character varying(255) NOT NULL,
    device_name character varying(255) DEFAULT 'Unknown Device'::character varying,
    browser_info character varying(255) DEFAULT 'Unknown Browser'::character varying,
    user_id_hash character varying(255) NOT NULL,
    is_active boolean DEFAULT true,
    added_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_used_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    removed_at timestamp without time zone
);


ALTER TABLE public.free_trial_whitelist OWNER TO postgres;

--
-- Name: free_trial_whitelist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.free_trial_whitelist_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.free_trial_whitelist_id_seq OWNER TO postgres;

--
-- Name: free_trial_whitelist_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.free_trial_whitelist_id_seq OWNED BY public.free_trial_whitelist.id;


--
-- Name: login_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.login_attempts (
    id integer NOT NULL,
    user_id_hash character varying(255),
    attempt_type character varying(50),
    email_attempted_encrypted bytea,
    ip_address_encrypted bytea,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.login_attempts OWNER TO postgres;

--
-- Name: login_attempts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.login_attempts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.login_attempts_id_seq OWNER TO postgres;

--
-- Name: login_attempts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.login_attempts_id_seq OWNED BY public.login_attempts.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    role character varying(50),
    user_id_hash character varying(255),
    content_full_encrypted bytea,
    content_brief_encrypted bytea,
    content_full_lang_encrypted bytea,
    content_brief_lang_encrypted bytea,
    language_code character varying(10),
    response_type character varying(50),
    content_type character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_at_local_date date,
    horoscope_range character varying(50),
    moon_phase character varying(50)
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_id_seq OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: pending_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pending_migrations (
    id integer NOT NULL,
    temp_user_id character varying(50),
    temp_user_id_hash character varying(255),
    email_encrypted bytea,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    migrated boolean DEFAULT false,
    migrated_at timestamp without time zone
);


ALTER TABLE public.pending_migrations OWNER TO postgres;

--
-- Name: pending_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pending_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pending_migrations_id_seq OWNER TO postgres;

--
-- Name: pending_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pending_migrations_id_seq OWNED BY public.pending_migrations.id;


--
-- Name: price_change_notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.price_change_notifications (
    id integer NOT NULL,
    user_id_hash character varying(64) NOT NULL,
    old_price_id character varying(100),
    new_price_id character varying(100),
    old_price_amount integer NOT NULL,
    new_price_amount integer NOT NULL,
    price_interval character varying(20) NOT NULL,
    effective_date timestamp without time zone NOT NULL,
    notified_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    email_sent boolean DEFAULT true,
    migration_completed boolean DEFAULT false,
    migration_completed_at timestamp without time zone
);


ALTER TABLE public.price_change_notifications OWNER TO postgres;

--
-- Name: price_change_notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.price_change_notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.price_change_notifications_id_seq OWNER TO postgres;

--
-- Name: price_change_notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.price_change_notifications_id_seq OWNED BY public.price_change_notifications.id;


--
-- Name: security; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.security (
    id integer NOT NULL,
    user_id_hash character varying(255) NOT NULL,
    phone_number_encrypted bytea,
    recovery_phone_encrypted bytea,
    recovery_email_encrypted bytea,
    phone_verified boolean DEFAULT false,
    recovery_phone_verified boolean DEFAULT false,
    recovery_email_verified boolean DEFAULT false,
    password_changed_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.security OWNER TO postgres;

--
-- Name: security_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.security_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.security_id_seq OWNER TO postgres;

--
-- Name: security_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.security_id_seq OWNED BY public.security.id;


--
-- Name: security_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.security_sessions (
    id integer NOT NULL,
    user_id_hash character varying(255),
    firebase_token_encrypted bytea,
    firebase_token_hash character varying(255),
    device_name_encrypted bytea,
    ip_address_encrypted bytea,
    user_agent_encrypted bytea,
    is_trusted boolean DEFAULT false,
    trust_expiry timestamp without time zone,
    last_active timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.security_sessions OWNER TO postgres;

--
-- Name: security_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.security_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.security_sessions_id_seq OWNER TO postgres;

--
-- Name: security_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.security_sessions_id_seq OWNED BY public.security_sessions.id;


--
-- Name: sms_verification_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sms_verification_attempts (
    id integer NOT NULL,
    phone_number character varying(20) NOT NULL,
    success boolean DEFAULT false NOT NULL,
    error_code character varying(50),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.sms_verification_attempts OWNER TO postgres;

--
-- Name: TABLE sms_verification_attempts; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.sms_verification_attempts IS 'Tracks SMS verification attempts to prevent spam and implement rate limiting per phone number. Records are automatically cleaned up after 1 hour.';


--
-- Name: COLUMN sms_verification_attempts.phone_number; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.sms_verification_attempts.phone_number IS 'Phone number in E.164 format (e.g., +15555555555)';


--
-- Name: COLUMN sms_verification_attempts.success; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.sms_verification_attempts.success IS 'Whether the SMS API call succeeded';


--
-- Name: COLUMN sms_verification_attempts.error_code; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.sms_verification_attempts.error_code IS 'Error code if failed (e.g., Throttling, RATE_LIMITED_LOCAL)';


--
-- Name: COLUMN sms_verification_attempts.created_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.sms_verification_attempts.created_at IS 'Timestamp of the attempt';


--
-- Name: sms_verification_attempts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sms_verification_attempts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sms_verification_attempts_id_seq OWNER TO postgres;

--
-- Name: sms_verification_attempts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sms_verification_attempts_id_seq OWNED BY public.sms_verification_attempts.id;


--
-- Name: sms_verification_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sms_verification_codes (
    id integer NOT NULL,
    phone_number character varying(20) NOT NULL,
    code character varying(6) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    verified_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.sms_verification_codes OWNER TO postgres;

--
-- Name: TABLE sms_verification_codes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.sms_verification_codes IS 'Stores 6-digit SMS verification codes for AWS SNS. Codes expire after 10 minutes. Used for 2FA and phone verification.';


--
-- Name: COLUMN sms_verification_codes.phone_number; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.sms_verification_codes.phone_number IS 'Phone number in E.164 format (e.g., +15555555555)';


--
-- Name: COLUMN sms_verification_codes.code; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.sms_verification_codes.code IS '6-digit verification code sent via SMS';


--
-- Name: COLUMN sms_verification_codes.expires_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.sms_verification_codes.expires_at IS 'When the code expires (10 minutes after creation)';


--
-- Name: COLUMN sms_verification_codes.verified_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.sms_verification_codes.verified_at IS 'When the code was successfully verified (NULL if not verified yet)';


--
-- Name: sms_verification_codes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sms_verification_codes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sms_verification_codes_id_seq OWNER TO postgres;

--
-- Name: sms_verification_codes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sms_verification_codes_id_seq OWNED BY public.sms_verification_codes.id;


--
-- Name: user_2fa_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_2fa_codes (
    id integer NOT NULL,
    user_id_hash character varying(255) NOT NULL,
    code character varying(10) NOT NULL,
    code_type character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp without time zone,
    used boolean DEFAULT false
);


ALTER TABLE public.user_2fa_codes OWNER TO postgres;

--
-- Name: user_2fa_codes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_2fa_codes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_2fa_codes_id_seq OWNER TO postgres;

--
-- Name: user_2fa_codes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_2fa_codes_id_seq OWNED BY public.user_2fa_codes.id;


--
-- Name: user_2fa_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_2fa_settings (
    id integer NOT NULL,
    user_id_hash character varying(255) NOT NULL,
    enabled boolean DEFAULT true,
    phone_number_encrypted bytea,
    backup_phone_number_encrypted bytea,
    method character varying(20) DEFAULT 'sms'::character varying,
    persistent_session boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_2fa_settings OWNER TO postgres;

--
-- Name: user_2fa_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_2fa_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_2fa_settings_id_seq OWNER TO postgres;

--
-- Name: user_2fa_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_2fa_settings_id_seq OWNED BY public.user_2fa_settings.id;


--
-- Name: user_account_lockouts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_account_lockouts (
    id integer NOT NULL,
    user_id_hash character varying(255),
    reason character varying(100),
    ip_addresses_encrypted bytea,
    lock_expires_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_account_lockouts OWNER TO postgres;

--
-- Name: user_account_lockouts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_account_lockouts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_account_lockouts_id_seq OWNER TO postgres;

--
-- Name: user_account_lockouts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_account_lockouts_id_seq OWNED BY public.user_account_lockouts.id;


--
-- Name: user_astrology; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_astrology (
    id integer NOT NULL,
    user_id_hash character varying(255),
    zodiac_sign character varying(50),
    astrology_data jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_astrology OWNER TO postgres;

--
-- Name: user_astrology_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_astrology_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_astrology_id_seq OWNER TO postgres;

--
-- Name: user_astrology_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_astrology_id_seq OWNED BY public.user_astrology.id;


--
-- Name: user_consents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_consents (
    id integer NOT NULL,
    user_id_hash character varying(255) NOT NULL,
    terms_version character varying(50),
    terms_accepted boolean DEFAULT false,
    terms_accepted_at timestamp without time zone,
    privacy_version character varying(50),
    privacy_accepted boolean DEFAULT false,
    privacy_accepted_at timestamp without time zone,
    consent_astrology boolean DEFAULT false,
    consent_chat_analysis boolean DEFAULT false,
    consent_health_wellness boolean DEFAULT false,
    agreed_from_ip_encrypted bytea,
    user_agent_encrypted bytea,
    requires_consent_update boolean DEFAULT false,
    last_notified_at timestamp without time zone,
    notification_count integer DEFAULT 0,
    grace_period_end timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_consents OWNER TO postgres;

--
-- Name: user_consents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_consents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_consents_id_seq OWNER TO postgres;

--
-- Name: user_consents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_consents_id_seq OWNED BY public.user_consents.id;


--
-- Name: user_login_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_login_attempts (
    id integer NOT NULL,
    user_id_hash character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_login_attempts OWNER TO postgres;

--
-- Name: user_login_attempts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_login_attempts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_login_attempts_id_seq OWNER TO postgres;

--
-- Name: user_login_attempts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_login_attempts_id_seq OWNED BY public.user_login_attempts.id;


--
-- Name: user_personal_info; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_personal_info (
    id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    email_hash character varying(64),
    password_hash character varying(255),
    email_verified boolean DEFAULT false,
    email_verified_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_admin boolean DEFAULT false,
    is_suspended boolean DEFAULT false,
    suspension_end_date timestamp without time zone,
    deletion_requested_at timestamp without time zone,
    deletion_status character varying(50),
    anonymization_date timestamp without time zone,
    final_deletion_date timestamp without time zone,
    deletion_reason character varying(255),
    subscription_status character varying(50),
    current_period_start integer,
    current_period_end integer,
    plan_name character varying(100),
    price_amount integer,
    price_interval character varying(20),
    onboarding_step character varying(100),
    onboarding_completed boolean DEFAULT false,
    onboarding_started_at timestamp without time zone,
    onboarding_completed_at timestamp without time zone,
    first_name_encrypted bytea,
    last_name_encrypted bytea,
    birth_date_encrypted bytea,
    birth_time_encrypted bytea,
    birth_city_encrypted bytea,
    birth_province_encrypted bytea,
    birth_country_encrypted bytea,
    birth_timezone_encrypted bytea,
    sex_encrypted bytea,
    familiar_name_encrypted bytea,
    phone_number_encrypted bytea,
    email_encrypted bytea,
    stripe_customer_id_encrypted bytea,
    stripe_subscription_id_encrypted bytea,
    last_status_check_at timestamp without time zone,
    subscription_cancelled_at timestamp without time zone,
    billing_country_encrypted bytea,
    billing_state_encrypted bytea,
    billing_city_encrypted bytea,
    billing_postal_code_encrypted bytea,
    billing_address_line1_encrypted bytea,
    reengagement_email_6m_sent_at timestamp without time zone,
    reengagement_email_1y_sent_at timestamp without time zone,
    reengagement_email_unsub boolean DEFAULT false
);


ALTER TABLE public.user_personal_info OWNER TO postgres;

--
-- Name: user_personal_info_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_personal_info_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_personal_info_id_seq OWNER TO postgres;

--
-- Name: user_personal_info_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_personal_info_id_seq OWNED BY public.user_personal_info.id;


--
-- Name: user_preferences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_preferences (
    id integer NOT NULL,
    user_id_hash character varying(255) NOT NULL,
    language character varying(10) DEFAULT 'en-US'::character varying,
    response_type character varying(20) DEFAULT 'full'::character varying,
    voice_enabled boolean DEFAULT true,
    voice_selected character varying(50) DEFAULT 'sophia'::character varying,
    oracle_language character varying(10) DEFAULT 'en-US'::character varying,
    timezone character varying(50) DEFAULT 'UTC'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_preferences OWNER TO postgres;

--
-- Name: user_preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_preferences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_preferences_id_seq OWNER TO postgres;

--
-- Name: user_preferences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_preferences_id_seq OWNED BY public.user_preferences.id;


--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_sessions (
    id integer NOT NULL,
    user_id_hash character varying(255),
    session_token_hash character varying(255),
    device_type character varying(50),
    browser_name character varying(100),
    browser_version character varying(50),
    os_name character varying(100),
    os_version character varying(50),
    device_name_encrypted bytea,
    ip_address_encrypted bytea,
    user_agent_encrypted bytea,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_activity_at timestamp without time zone,
    expires_at timestamp without time zone,
    logged_out_at timestamp without time zone,
    status character varying(50),
    is_2fa_verified boolean DEFAULT false,
    suspicious_activity boolean DEFAULT false
);


ALTER TABLE public.user_sessions OWNER TO postgres;

--
-- Name: user_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_sessions_id_seq OWNER TO postgres;

--
-- Name: user_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_sessions_id_seq OWNED BY public.user_sessions.id;


--
-- Name: user_violations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_violations (
    id integer NOT NULL,
    user_id_hash character varying(255) NOT NULL,
    violation_type character varying(50) NOT NULL,
    violation_count integer DEFAULT 1,
    violation_message text,
    severity character varying(20) DEFAULT 'warning'::character varying,
    is_active boolean DEFAULT true,
    is_account_disabled boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_violations OWNER TO postgres;

--
-- Name: user_violations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_violations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_violations_id_seq OWNER TO postgres;

--
-- Name: user_violations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_violations_id_seq OWNED BY public.user_violations.id;


--
-- Name: verification_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.verification_codes (
    id integer NOT NULL,
    user_id_hash character varying(255),
    phone_number_encrypted bytea,
    email_encrypted bytea,
    code character varying(6) NOT NULL,
    code_type character varying(10) DEFAULT 'sms'::character varying,
    attempts integer DEFAULT 0,
    max_attempts integer DEFAULT 3,
    expires_at timestamp without time zone NOT NULL,
    verified_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.verification_codes OWNER TO postgres;

--
-- Name: verification_codes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.verification_codes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.verification_codes_id_seq OWNER TO postgres;

--
-- Name: verification_codes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.verification_codes_id_seq OWNED BY public.verification_codes.id;


--
-- Name: account_deletion_audit id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_deletion_audit ALTER COLUMN id SET DEFAULT nextval('public.account_deletion_audit_id_seq'::regclass);


--
-- Name: admin_login_attempts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_login_attempts ALTER COLUMN id SET DEFAULT nextval('public.admin_login_attempts_id_seq'::regclass);


--
-- Name: admin_trusted_ips id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_trusted_ips ALTER COLUMN id SET DEFAULT nextval('public.admin_trusted_ips_id_seq'::regclass);


--
-- Name: app_analytics id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_analytics ALTER COLUMN id SET DEFAULT nextval('public.app_analytics_id_seq'::regclass);


--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Name: error_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.error_logs ALTER COLUMN id SET DEFAULT nextval('public.error_logs_id_seq'::regclass);


--
-- Name: free_trial_whitelist id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.free_trial_whitelist ALTER COLUMN id SET DEFAULT nextval('public.free_trial_whitelist_id_seq'::regclass);


--
-- Name: login_attempts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login_attempts ALTER COLUMN id SET DEFAULT nextval('public.login_attempts_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: pending_migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pending_migrations ALTER COLUMN id SET DEFAULT nextval('public.pending_migrations_id_seq'::regclass);


--
-- Name: price_change_notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_change_notifications ALTER COLUMN id SET DEFAULT nextval('public.price_change_notifications_id_seq'::regclass);


--
-- Name: security id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security ALTER COLUMN id SET DEFAULT nextval('public.security_id_seq'::regclass);


--
-- Name: security_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_sessions ALTER COLUMN id SET DEFAULT nextval('public.security_sessions_id_seq'::regclass);


--
-- Name: sms_verification_attempts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sms_verification_attempts ALTER COLUMN id SET DEFAULT nextval('public.sms_verification_attempts_id_seq'::regclass);


--
-- Name: sms_verification_codes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sms_verification_codes ALTER COLUMN id SET DEFAULT nextval('public.sms_verification_codes_id_seq'::regclass);


--
-- Name: user_2fa_codes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_2fa_codes ALTER COLUMN id SET DEFAULT nextval('public.user_2fa_codes_id_seq'::regclass);


--
-- Name: user_2fa_settings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_2fa_settings ALTER COLUMN id SET DEFAULT nextval('public.user_2fa_settings_id_seq'::regclass);


--
-- Name: user_account_lockouts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_account_lockouts ALTER COLUMN id SET DEFAULT nextval('public.user_account_lockouts_id_seq'::regclass);


--
-- Name: user_astrology id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_astrology ALTER COLUMN id SET DEFAULT nextval('public.user_astrology_id_seq'::regclass);


--
-- Name: user_consents id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_consents ALTER COLUMN id SET DEFAULT nextval('public.user_consents_id_seq'::regclass);


--
-- Name: user_login_attempts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_login_attempts ALTER COLUMN id SET DEFAULT nextval('public.user_login_attempts_id_seq'::regclass);


--
-- Name: user_personal_info id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_personal_info ALTER COLUMN id SET DEFAULT nextval('public.user_personal_info_id_seq'::regclass);


--
-- Name: user_preferences id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_preferences ALTER COLUMN id SET DEFAULT nextval('public.user_preferences_id_seq'::regclass);


--
-- Name: user_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions ALTER COLUMN id SET DEFAULT nextval('public.user_sessions_id_seq'::regclass);


--
-- Name: user_violations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_violations ALTER COLUMN id SET DEFAULT nextval('public.user_violations_id_seq'::regclass);


--
-- Name: verification_codes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_codes ALTER COLUMN id SET DEFAULT nextval('public.verification_codes_id_seq'::regclass);


--
-- Data for Name: account_deletion_audit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.account_deletion_audit (id, user_id_hash, deletion_reason, ip_address_encrypted, created_at) FROM stdin;
\.


--
-- Data for Name: admin_login_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: admin_trusted_ips; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: app_analytics; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: error_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: free_trial_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.free_trial_sessions (id, ip_address_hash, ip_address_encrypted, user_id_hash, email_encrypted, current_step, is_completed, started_at, completed_at, last_activity_at) FROM stdin;
\.


--
-- Data for Name: free_trial_whitelist; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: login_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.login_attempts (id, user_id_hash, attempt_type, email_attempted_encrypted, ip_address_encrypted, created_at) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pending_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pending_migrations (id, temp_user_id, temp_user_id_hash, email_encrypted, created_at, migrated, migrated_at) FROM stdin;
\.


--
-- Data for Name: price_change_notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.price_change_notifications (id, user_id_hash, old_price_id, new_price_id, old_price_amount, new_price_amount, price_interval, effective_date, notified_at, email_sent, migration_completed, migration_completed_at) FROM stdin;
\.


--
-- Data for Name: security; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.security (id, user_id_hash, phone_number_encrypted, recovery_phone_encrypted, recovery_email_encrypted, phone_verified, recovery_phone_verified, recovery_email_verified, password_changed_at, created_at, updated_at) FROM stdin;
1	4786365168fa8d9265f85998b4a9133406a87953ace2c2bce741411e2a9cfa56	\\xc30d040703025431fb48bfb8a6f468d23d0131985b7e23a1c0d9a18a8cc1be15d6b998b0a1a389032356562a65a547e13906e8f80938d5f9b9ad214dab1b9cffbc9106c9d7bf31360aae0278e66f	\N	\N	t	f	f	\N	2026-01-29 07:29:24.044972	2026-01-29 07:30:22.289721
\.


--
-- Data for Name: security_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sms_verification_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sms_verification_attempts (id, phone_number, success, error_code, created_at) FROM stdin;
1	+18324936779	t	\N	2026-01-29 07:29:25.038718
\.


--
-- Data for Name: sms_verification_codes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sms_verification_codes (id, phone_number, code, expires_at, verified_at, created_at) FROM stdin;
\.


--
-- Data for Name: user_2fa_codes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_2fa_codes (id, user_id_hash, code, code_type, created_at, expires_at, used) FROM stdin;
\.


--
-- Data for Name: user_2fa_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_2fa_settings (id, user_id_hash, enabled, phone_number_encrypted, backup_phone_number_encrypted, method, persistent_session, created_at, updated_at) FROM stdin;
1	4786365168fa8d9265f85998b4a9133406a87953ace2c2bce741411e2a9cfa56	t	\N	\N	email	f	2026-01-29 07:10:38.981718	2026-01-29 07:10:38.981718
2	7923de90f840eb2158b5fe0620616d08b8a020f9605a42e9148d6bf7c75255e4	t	\N	\N	email	f	2026-01-30 10:24:14.179696	2026-01-30 10:24:14.179696
\.


--
-- Data for Name: user_account_lockouts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_account_lockouts (id, user_id_hash, reason, ip_addresses_encrypted, lock_expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: user_astrology; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_consents; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_login_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_login_attempts (id, user_id_hash, created_at) FROM stdin;
\.


--
-- Data for Name: user_personal_info; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_preferences; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_preferences (id, user_id_hash, language, response_type, voice_enabled, voice_selected, oracle_language, timezone, created_at, updated_at) FROM stdin;
1	4786365168fa8d9265f85998b4a9133406a87953ace2c2bce741411e2a9cfa56	en-US	brief	f	sophia	en-US	America/Chicago	2026-01-29 07:10:38.992471	2026-01-31 10:18:12.092152
18	7923de90f840eb2158b5fe0620616d08b8a020f9605a42e9148d6bf7c75255e4	en-US	full	t	sophia	en-US	America/Chicago	2026-01-30 10:24:14.186787	2026-01-31 11:51:58.167416
\.


--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_sessions (id, user_id_hash, session_token_hash, device_type, browser_name, browser_version, os_name, os_version, device_name_encrypted, ip_address_encrypted, user_agent_encrypted, created_at, last_activity_at, expires_at, logged_out_at, status, is_2fa_verified, suspicious_activity) FROM stdin;
\.


--
-- Data for Name: user_violations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_violations (id, user_id_hash, violation_type, violation_count, violation_message, severity, is_active, is_account_disabled, created_at, updated_at) FROM stdin;
13	7923de90f840eb2158b5fe0620616d08b8a020f9605a42e9148d6bf7c75255e4	self_harm_concern	1	You are spot on regarding collaboration. Today I will visit with a development colleague with a great deal of experience and that should help move the project forward. 	warning	t	f	2026-01-31 07:38:09.059028	2026-01-31 07:38:09.059028
\.


--
-- Data for Name: verification_codes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: account_deletion_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.account_deletion_audit_id_seq', 1, false);


--
-- Name: admin_login_attempts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admin_login_attempts_id_seq', 50, true);


--
-- Name: admin_trusted_ips_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admin_trusted_ips_id_seq', 2, true);


--
-- Name: app_analytics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_analytics_id_seq', 357, true);


--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 148, true);


--
-- Name: error_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.error_logs_id_seq', 34, true);


--
-- Name: free_trial_whitelist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.free_trial_whitelist_id_seq', 1, true);


--
-- Name: login_attempts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.login_attempts_id_seq', 1, false);


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.messages_id_seq', 78, true);


--
-- Name: pending_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pending_migrations_id_seq', 1, false);


--
-- Name: price_change_notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.price_change_notifications_id_seq', 1, false);


--
-- Name: security_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.security_id_seq', 1, true);


--
-- Name: security_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.security_sessions_id_seq', 101, true);


--
-- Name: sms_verification_attempts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sms_verification_attempts_id_seq', 1, true);


--
-- Name: sms_verification_codes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sms_verification_codes_id_seq', 1, false);


--
-- Name: user_2fa_codes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_2fa_codes_id_seq', 1, false);


--
-- Name: user_2fa_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_2fa_settings_id_seq', 2, true);


--
-- Name: user_account_lockouts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_account_lockouts_id_seq', 1, false);


--
-- Name: user_astrology_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_astrology_id_seq', 10, true);


--
-- Name: user_consents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_consents_id_seq', 2, true);


--
-- Name: user_login_attempts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_login_attempts_id_seq', 1, false);


--
-- Name: user_personal_info_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_personal_info_id_seq', 9, true);


--
-- Name: user_preferences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_preferences_id_seq', 48, true);


--
-- Name: user_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_sessions_id_seq', 1, false);


--
-- Name: user_violations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_violations_id_seq', 13, true);


--
-- Name: verification_codes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.verification_codes_id_seq', 4, true);


--
-- Name: account_deletion_audit account_deletion_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_deletion_audit
    ADD CONSTRAINT account_deletion_audit_pkey PRIMARY KEY (id);


--
-- Name: admin_login_attempts admin_login_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_login_attempts
    ADD CONSTRAINT admin_login_attempts_pkey PRIMARY KEY (id);


--
-- Name: admin_trusted_ips admin_trusted_ips_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_trusted_ips
    ADD CONSTRAINT admin_trusted_ips_pkey PRIMARY KEY (id);


--
-- Name: admin_trusted_ips admin_trusted_ips_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_trusted_ips
    ADD CONSTRAINT admin_trusted_ips_unique UNIQUE (user_id_hash, ip_address_encrypted);


--
-- Name: app_analytics app_analytics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_analytics
    ADD CONSTRAINT app_analytics_pkey PRIMARY KEY (id);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: error_logs error_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.error_logs
    ADD CONSTRAINT error_logs_pkey PRIMARY KEY (id);


--
-- Name: free_trial_sessions free_trial_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.free_trial_sessions
    ADD CONSTRAINT free_trial_sessions_pkey PRIMARY KEY (id);


--
-- Name: free_trial_whitelist free_trial_whitelist_ip_address_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.free_trial_whitelist
    ADD CONSTRAINT free_trial_whitelist_ip_address_hash_key UNIQUE (ip_address_hash);


--
-- Name: free_trial_whitelist free_trial_whitelist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.free_trial_whitelist
    ADD CONSTRAINT free_trial_whitelist_pkey PRIMARY KEY (id);


--
-- Name: login_attempts login_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login_attempts
    ADD CONSTRAINT login_attempts_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: pending_migrations pending_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pending_migrations
    ADD CONSTRAINT pending_migrations_pkey PRIMARY KEY (id);


--
-- Name: pending_migrations pending_migrations_temp_user_id_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pending_migrations
    ADD CONSTRAINT pending_migrations_temp_user_id_hash_key UNIQUE (temp_user_id_hash);


--
-- Name: price_change_notifications price_change_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_change_notifications
    ADD CONSTRAINT price_change_notifications_pkey PRIMARY KEY (id);


--
-- Name: security security_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security
    ADD CONSTRAINT security_pkey PRIMARY KEY (id);


--
-- Name: security_sessions security_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_sessions
    ADD CONSTRAINT security_sessions_pkey PRIMARY KEY (id);


--
-- Name: security_sessions security_sessions_user_id_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_sessions
    ADD CONSTRAINT security_sessions_user_id_hash_key UNIQUE (user_id_hash);


--
-- Name: security security_user_id_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security
    ADD CONSTRAINT security_user_id_hash_key UNIQUE (user_id_hash);


--
-- Name: sms_verification_attempts sms_verification_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sms_verification_attempts
    ADD CONSTRAINT sms_verification_attempts_pkey PRIMARY KEY (id);


--
-- Name: sms_verification_codes sms_verification_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sms_verification_codes
    ADD CONSTRAINT sms_verification_codes_pkey PRIMARY KEY (id);


--
-- Name: user_2fa_codes user_2fa_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_2fa_codes
    ADD CONSTRAINT user_2fa_codes_pkey PRIMARY KEY (id);


--
-- Name: user_2fa_settings user_2fa_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_2fa_settings
    ADD CONSTRAINT user_2fa_settings_pkey PRIMARY KEY (id);


--
-- Name: user_2fa_settings user_2fa_settings_user_id_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_2fa_settings
    ADD CONSTRAINT user_2fa_settings_user_id_hash_key UNIQUE (user_id_hash);


--
-- Name: user_account_lockouts user_account_lockouts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_account_lockouts
    ADD CONSTRAINT user_account_lockouts_pkey PRIMARY KEY (id);


--
-- Name: user_astrology user_astrology_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_astrology
    ADD CONSTRAINT user_astrology_pkey PRIMARY KEY (id);


--
-- Name: user_astrology user_astrology_user_id_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_astrology
    ADD CONSTRAINT user_astrology_user_id_hash_key UNIQUE (user_id_hash);


--
-- Name: user_consents user_consents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_consents
    ADD CONSTRAINT user_consents_pkey PRIMARY KEY (id);


--
-- Name: user_consents user_consents_user_id_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_consents
    ADD CONSTRAINT user_consents_user_id_hash_key UNIQUE (user_id_hash);


--
-- Name: user_login_attempts user_login_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_login_attempts
    ADD CONSTRAINT user_login_attempts_pkey PRIMARY KEY (id);


--
-- Name: user_personal_info user_personal_info_email_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_personal_info
    ADD CONSTRAINT user_personal_info_email_hash_key UNIQUE (email_hash);


--
-- Name: user_personal_info user_personal_info_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_personal_info
    ADD CONSTRAINT user_personal_info_pkey PRIMARY KEY (id);


--
-- Name: user_personal_info user_personal_info_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_personal_info
    ADD CONSTRAINT user_personal_info_user_id_key UNIQUE (user_id);


--
-- Name: user_preferences user_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_pkey PRIMARY KEY (id);


--
-- Name: user_preferences user_preferences_user_id_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_user_id_hash_key UNIQUE (user_id_hash);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (id);


--
-- Name: user_violations user_violations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_violations
    ADD CONSTRAINT user_violations_pkey PRIMARY KEY (id);


--
-- Name: verification_codes verification_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_codes
    ADD CONSTRAINT verification_codes_pkey PRIMARY KEY (id);


--
-- Name: idx_account_deletion_audit_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_account_deletion_audit_user_id_hash ON public.account_deletion_audit USING btree (user_id_hash);


--
-- Name: idx_admin_login_attempts_attempted_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_admin_login_attempts_attempted_at ON public.admin_login_attempts USING btree (attempted_at);


--
-- Name: idx_admin_login_attempts_login_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_admin_login_attempts_login_status ON public.admin_login_attempts USING btree (login_status);


--
-- Name: idx_admin_login_attempts_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_admin_login_attempts_user_id_hash ON public.admin_login_attempts USING btree (user_id_hash);


--
-- Name: idx_admin_trusted_ips_is_trusted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_admin_trusted_ips_is_trusted ON public.admin_trusted_ips USING btree (is_trusted);


--
-- Name: idx_admin_trusted_ips_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_admin_trusted_ips_user_id_hash ON public.admin_trusted_ips USING btree (user_id_hash);


--
-- Name: idx_app_analytics_browser_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_analytics_browser_name ON public.app_analytics USING btree (browser_name);


--
-- Name: idx_app_analytics_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_analytics_created_at ON public.app_analytics USING btree (created_at);


--
-- Name: idx_app_analytics_device_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_analytics_device_type ON public.app_analytics USING btree (device_type);


--
-- Name: idx_app_analytics_event_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_analytics_event_action ON public.app_analytics USING btree (event_action);


--
-- Name: idx_app_analytics_event_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_analytics_event_type ON public.app_analytics USING btree (event_type);


--
-- Name: idx_app_analytics_os_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_analytics_os_name ON public.app_analytics USING btree (os_name);


--
-- Name: idx_app_analytics_page_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_analytics_page_name ON public.app_analytics USING btree (page_name);


--
-- Name: idx_audit_log_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_log_created_at ON public.audit_log USING btree (created_at);


--
-- Name: idx_audit_log_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_log_user_id_hash ON public.audit_log USING btree (user_id_hash);


--
-- Name: idx_current_period_end; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_current_period_end ON public.user_personal_info USING btree (current_period_end);


--
-- Name: idx_error_logs_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_error_logs_created_at ON public.error_logs USING btree (created_at);


--
-- Name: idx_error_logs_resolved; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_error_logs_resolved ON public.error_logs USING btree (is_resolved);


--
-- Name: idx_error_logs_service; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_error_logs_service ON public.error_logs USING btree (service);


--
-- Name: idx_error_logs_severity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_error_logs_severity ON public.error_logs USING btree (severity);


--
-- Name: idx_error_logs_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_error_logs_user_id_hash ON public.error_logs USING btree (user_id_hash);


--
-- Name: idx_free_trial_sessions_hash_completed; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_free_trial_sessions_hash_completed ON public.free_trial_sessions USING btree (ip_address_hash, is_completed);


--
-- Name: idx_free_trial_sessions_ip_address_encrypted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_free_trial_sessions_ip_address_encrypted ON public.free_trial_sessions USING btree (ip_address_encrypted);


--
-- Name: idx_free_trial_sessions_ip_address_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_free_trial_sessions_ip_address_hash ON public.free_trial_sessions USING btree (ip_address_hash);


--
-- Name: idx_free_trial_sessions_ip_completed; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_free_trial_sessions_ip_completed ON public.free_trial_sessions USING btree (ip_address_encrypted, is_completed);


--
-- Name: idx_free_trial_sessions_unique_ip_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_free_trial_sessions_unique_ip_user ON public.free_trial_sessions USING btree (ip_address_encrypted, user_id_hash);


--
-- Name: idx_free_trial_sessions_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_free_trial_sessions_user_id_hash ON public.free_trial_sessions USING btree (user_id_hash);


--
-- Name: idx_free_trial_whitelist_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_free_trial_whitelist_active ON public.free_trial_whitelist USING btree (is_active);


--
-- Name: idx_free_trial_whitelist_ip_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_free_trial_whitelist_ip_hash ON public.free_trial_whitelist USING btree (ip_address_hash);


--
-- Name: idx_free_trial_whitelist_user_hash_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_free_trial_whitelist_user_hash_active ON public.free_trial_whitelist USING btree (user_id_hash, is_active);


--
-- Name: idx_free_trial_whitelist_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_free_trial_whitelist_user_id_hash ON public.free_trial_whitelist USING btree (user_id_hash);


--
-- Name: idx_last_status_check_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_last_status_check_at ON public.user_personal_info USING btree (last_status_check_at);


--
-- Name: idx_login_attempts_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_attempts_user_id_hash ON public.login_attempts USING btree (user_id_hash);


--
-- Name: idx_messages_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_messages_created_at ON public.messages USING btree (created_at);


--
-- Name: idx_messages_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_messages_user_id_hash ON public.messages USING btree (user_id_hash);


--
-- Name: idx_pending_migrations_temp_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pending_migrations_temp_user_id_hash ON public.pending_migrations USING btree (temp_user_id_hash);


--
-- Name: idx_price_notifications_effective_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_price_notifications_effective_date ON public.price_change_notifications USING btree (effective_date);


--
-- Name: idx_price_notifications_interval; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_price_notifications_interval ON public.price_change_notifications USING btree (price_interval);


--
-- Name: idx_price_notifications_migration; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_price_notifications_migration ON public.price_change_notifications USING btree (migration_completed);


--
-- Name: idx_price_notifications_notified_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_price_notifications_notified_at ON public.price_change_notifications USING btree (notified_at);


--
-- Name: idx_price_notifications_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_price_notifications_user_id_hash ON public.price_change_notifications USING btree (user_id_hash);


--
-- Name: idx_security_sessions_firebase_token_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_sessions_firebase_token_hash ON public.security_sessions USING btree (firebase_token_hash);


--
-- Name: idx_security_sessions_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_sessions_user_id_hash ON public.security_sessions USING btree (user_id_hash);


--
-- Name: idx_security_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_user_id_hash ON public.security USING btree (user_id_hash);


--
-- Name: idx_sms_attempts_cleanup; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sms_attempts_cleanup ON public.sms_verification_attempts USING btree (created_at);


--
-- Name: idx_sms_attempts_phone_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sms_attempts_phone_time ON public.sms_verification_attempts USING btree (phone_number, created_at DESC);


--
-- Name: idx_sms_codes_expires; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sms_codes_expires ON public.sms_verification_codes USING btree (expires_at);


--
-- Name: idx_sms_codes_phone_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sms_codes_phone_code ON public.sms_verification_codes USING btree (phone_number, code);


--
-- Name: idx_sms_codes_unverified; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sms_codes_unverified ON public.sms_verification_codes USING btree (phone_number, verified_at) WHERE (verified_at IS NULL);


--
-- Name: idx_subscription_cancelled_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_subscription_cancelled_at ON public.user_personal_info USING btree (subscription_cancelled_at);


--
-- Name: idx_subscription_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_subscription_status ON public.user_personal_info USING btree (subscription_status);


--
-- Name: idx_user_2fa_codes_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_2fa_codes_user_id_hash ON public.user_2fa_codes USING btree (user_id_hash);


--
-- Name: idx_user_2fa_settings_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_2fa_settings_user_id_hash ON public.user_2fa_settings USING btree (user_id_hash);


--
-- Name: idx_user_account_lockouts_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_account_lockouts_user_id_hash ON public.user_account_lockouts USING btree (user_id_hash);


--
-- Name: idx_user_astrology_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_astrology_user_id_hash ON public.user_astrology USING btree (user_id_hash);


--
-- Name: idx_user_consents_grace_period_end; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_consents_grace_period_end ON public.user_consents USING btree (grace_period_end) WHERE (grace_period_end IS NOT NULL);


--
-- Name: idx_user_consents_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_consents_user_id_hash ON public.user_consents USING btree (user_id_hash);


--
-- Name: idx_user_login_attempts_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_login_attempts_user_id_hash ON public.user_login_attempts USING btree (user_id_hash);


--
-- Name: idx_user_personal_info_email_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_personal_info_email_hash ON public.user_personal_info USING btree (email_hash);


--
-- Name: idx_user_preferences_oracle_language; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_preferences_oracle_language ON public.user_preferences USING btree (oracle_language);


--
-- Name: idx_user_preferences_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_preferences_user_id_hash ON public.user_preferences USING btree (user_id_hash);


--
-- Name: idx_user_preferences_voice; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_preferences_voice ON public.user_preferences USING btree (voice_selected);


--
-- Name: idx_user_sessions_session_token_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_sessions_session_token_hash ON public.user_sessions USING btree (session_token_hash);


--
-- Name: idx_user_sessions_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_sessions_user_id_hash ON public.user_sessions USING btree (user_id_hash);


--
-- Name: idx_user_violations_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_violations_user_id_hash ON public.user_violations USING btree (user_id_hash);


--
-- Name: idx_verification_codes_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_verification_codes_code ON public.verification_codes USING btree (code);


--
-- Name: idx_verification_codes_user_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_verification_codes_user_id_hash ON public.verification_codes USING btree (user_id_hash);


--
-- Name: error_logs update_error_logs_timestamp_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_error_logs_timestamp_trigger BEFORE UPDATE ON public.error_logs FOR EACH ROW EXECUTE FUNCTION public.update_error_logs_timestamp();


--
-- Name: price_change_notifications fk_user_id_hash; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_change_notifications
    ADD CONSTRAINT fk_user_id_hash FOREIGN KEY (user_id_hash) REFERENCES public.user_personal_info(user_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict sVe7JlBJb6A8hgyzomrSWgS0qQ4GxBpHMb8FiqS3lL0xrpHcgtxzD8clqV1b4TZ

