--
-- PostgreSQL database dump
--

\restrict a1rvFfHDPV3jaatubUrHSxgNupG7T33ZXNZ7gNVbQuPfKn2MonmW7pWJ2SYTZl8

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: anonymize_user_data(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.anonymize_user_data(p_user_id character varying) RETURNS boolean
    LANGUAGE plpgsql
    AS $$
BEGIN
  -- Anonymize personal information
  UPDATE user_personal_info
  SET 
    first_name_encrypted = pgp_sym_encrypt(CONCAT('DELETED_', p_user_id), current_setting('app.encryption_key')),
    last_name_encrypted = pgp_sym_encrypt(CONCAT('DELETED_', p_user_id), current_setting('app.encryption_key')),
    email_encrypted = pgp_sym_encrypt(CONCAT('deleted_', p_user_id, '@deleted.local'), current_setting('app.encryption_key')),
    phone_number_encrypted = NULL,
    sex_encrypted = NULL,
    familiar_name_encrypted = NULL,
    birth_date_encrypted = NULL,
    birth_city_encrypted = NULL,
    birth_timezone_encrypted = NULL,
    birth_country_encrypted = NULL,
    birth_province_encrypted = NULL,
    address_preference_encrypted = NULL,
    deletion_status = 'anonymized',
    anonymization_date = NOW(),
    updated_at = NOW()
  WHERE user_id = p_user_id;
  
  RETURN TRUE;
EXCEPTION WHEN OTHERS THEN
  RETURN FALSE;
END;
$$;


ALTER FUNCTION public.anonymize_user_data(p_user_id character varying) OWNER TO postgres;

--
-- Name: audit_consent_changes(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.audit_consent_changes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  -- Log consent changes to audit_log table
  INSERT INTO audit_log (
    user_id, action, details, ip_address, created_at
  ) VALUES (
    NEW.user_id,
    CASE WHEN TG_OP = 'INSERT' THEN 'CONSENT_CREATED' ELSE 'CONSENT_UPDATED' END,
    jsonb_build_object(
      'consent_astrology', NEW.consent_astrology,
      'consent_health_data', NEW.consent_health_data,
      'consent_chat_analysis', NEW.consent_chat_analysis,
      'agreed_from_ip', NEW.agreed_from_ip,
      'timestamp', NEW.agreed_at
    ),
    NEW.agreed_from_ip,
    NOW()
  );
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.audit_consent_changes() OWNER TO postgres;

--
-- Name: cleanup_expired_lockouts(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.cleanup_expired_lockouts() RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
  v_deleted INTEGER;
BEGIN
  DELETE FROM user_account_lockouts 
  WHERE unlock_at < NOW();
  
  GET DIAGNOSTICS v_deleted = ROW_COUNT;
  RETURN v_deleted;
END;
$$;


ALTER FUNCTION public.cleanup_expired_lockouts() OWNER TO postgres;

--
-- Name: FUNCTION cleanup_expired_lockouts(); Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON FUNCTION public.cleanup_expired_lockouts() IS 'Remove expired lockouts (can be called periodically or on schedule)';


--
-- Name: cleanup_expired_sessions(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.cleanup_expired_sessions() RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
  UPDATE user_sessions
  SET status = 'expired'
  WHERE status = 'active' AND expires_at < NOW();
END;
$$;


ALTER FUNCTION public.cleanup_expired_sessions() OWNER TO postgres;

--
-- Name: count_recent_failed_attempts(uuid, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.count_recent_failed_attempts(p_user_id uuid, p_minutes integer DEFAULT 60) RETURNS integer
    LANGUAGE plpgsql STABLE
    AS $$
DECLARE
  v_count INTEGER;
BEGIN
  SELECT COUNT(*) FROM user_login_attempts
  WHERE user_id = p_user_id 
    AND success = FALSE
    AND created_at > NOW() - (p_minutes || ' minutes')::INTERVAL
  INTO v_count;
  
  RETURN COALESCE(v_count, 0);
END;
$$;


ALTER FUNCTION public.count_recent_failed_attempts(p_user_id uuid, p_minutes integer) OWNER TO postgres;

--
-- Name: FUNCTION count_recent_failed_attempts(p_user_id uuid, p_minutes integer); Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON FUNCTION public.count_recent_failed_attempts(p_user_id uuid, p_minutes integer) IS 'Count failed login attempts in the past N minutes (default 60)';


--
-- Name: count_recent_failed_attempts(character varying, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.count_recent_failed_attempts(p_user_id character varying, p_minutes integer DEFAULT 60) RETURNS integer
    LANGUAGE plpgsql STABLE
    AS $$
DECLARE
  v_count INTEGER;
BEGIN
  SELECT COUNT(*) FROM user_login_attempts
  WHERE user_id = p_user_id 
    AND success = FALSE
    AND created_at > NOW() - (p_minutes || ' minutes')::INTERVAL
  INTO v_count;
  
  RETURN COALESCE(v_count, 0);
END;
$$;


ALTER FUNCTION public.count_recent_failed_attempts(p_user_id character varying, p_minutes integer) OWNER TO postgres;

--
-- Name: FUNCTION count_recent_failed_attempts(p_user_id character varying, p_minutes integer); Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON FUNCTION public.count_recent_failed_attempts(p_user_id character varying, p_minutes integer) IS 'Count failed login attempts in the past N minutes (default 60)';


--
-- Name: decrypt_birth_date(bytea); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.decrypt_birth_date(encrypted bytea) RETURNS date
    LANGUAGE plpgsql IMMUTABLE
    AS $$
BEGIN
    IF encrypted IS NULL THEN RETURN NULL; END IF;
    RETURN CAST(pgp_sym_decrypt(encrypted, 'default_key') AS DATE);
END;
$$;


ALTER FUNCTION public.decrypt_birth_date(encrypted bytea) OWNER TO postgres;

--
-- Name: decrypt_email(bytea); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.decrypt_email(encrypted bytea) RETURNS character varying
    LANGUAGE plpgsql IMMUTABLE
    AS $$
BEGIN
    IF encrypted IS NULL THEN RETURN NULL; END IF;
    RETURN pgp_sym_decrypt(encrypted, 'default_key');
END;
$$;


ALTER FUNCTION public.decrypt_email(encrypted bytea) OWNER TO postgres;

--
-- Name: decrypt_text(bytea); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.decrypt_text(encrypted bytea) RETURNS character varying
    LANGUAGE plpgsql IMMUTABLE
    AS $$
BEGIN
    IF encrypted IS NULL THEN RETURN NULL; END IF;
    RETURN pgp_sym_decrypt(encrypted, 'default_key');
END;
$$;


ALTER FUNCTION public.decrypt_text(encrypted bytea) OWNER TO postgres;

--
-- Name: get_accounts_for_anonymization(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_accounts_for_anonymization() RETURNS TABLE(user_id character varying, deletion_requested_at timestamp without time zone, days_since_deletion integer)
    LANGUAGE plpgsql
    AS $$
BEGIN
  RETURN QUERY
  SELECT 
    upi.user_id,
    upi.deletion_requested_at,
    (CURRENT_DATE - upi.deletion_requested_at::DATE)::INTEGER as days_since_deletion
  FROM user_personal_info upi
  WHERE upi.deletion_status = 'pending_deletion'
    AND upi.deletion_requested_at IS NOT NULL
    AND upi.anonymization_date IS NULL
    AND (CURRENT_DATE - upi.deletion_requested_at::DATE) >= 365;
END;
$$;


ALTER FUNCTION public.get_accounts_for_anonymization() OWNER TO postgres;

--
-- Name: get_accounts_for_permanent_deletion(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_accounts_for_permanent_deletion() RETURNS TABLE(user_id character varying, deletion_requested_at timestamp without time zone, days_since_deletion integer)
    LANGUAGE plpgsql
    AS $$
BEGIN
  RETURN QUERY
  SELECT 
    upi.user_id,
    upi.deletion_requested_at,
    (CURRENT_DATE - upi.deletion_requested_at::DATE)::INTEGER as days_since_deletion
  FROM user_personal_info upi
  WHERE upi.deletion_status = 'anonymized'
    AND upi.deletion_requested_at IS NOT NULL
    AND upi.final_deletion_date IS NULL
    AND (CURRENT_DATE - upi.deletion_requested_at::DATE) >= 730;
END;
$$;


ALTER FUNCTION public.get_accounts_for_permanent_deletion() OWNER TO postgres;

--
-- Name: get_active_sessions(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_active_sessions(p_user_id character varying) RETURNS TABLE(session_id integer, device_name character varying, device_type character varying, browser_name character varying, ip_address inet, created_at timestamp without time zone, last_activity_at timestamp without time zone, expires_at timestamp without time zone, is_current_session boolean)
    LANGUAGE plpgsql
    AS $$
BEGIN
  RETURN QUERY
  SELECT 
    us.id,
    us.device_name,
    us.device_type,
    us.browser_name,
    us.ip_address,
    us.created_at,
    us.last_activity_at,
    us.expires_at,
    FALSE as is_current_session
  FROM user_sessions us
  WHERE us.user_id = p_user_id
    AND us.status = 'active'
    AND us.expires_at > NOW()
  ORDER BY us.last_activity_at DESC;
END;
$$;


ALTER FUNCTION public.get_active_sessions(p_user_id character varying) OWNER TO postgres;

--
-- Name: get_user_consents(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_user_consents(p_user_id character varying) RETURNS TABLE(user_id character varying, consent_astrology boolean, consent_health_data boolean, consent_chat_analysis boolean, agreed_at timestamp without time zone, agreed_from_ip inet, days_since_consent integer)
    LANGUAGE plpgsql
    AS $$
BEGIN
  RETURN QUERY
  SELECT 
    uc.user_id,
    uc.consent_astrology,
    uc.consent_health_data,
    uc.consent_chat_analysis,
    uc.agreed_at,
    uc.agreed_from_ip,
    (CURRENT_DATE - uc.agreed_at::DATE)::INTEGER
  FROM user_consents uc
  WHERE uc.user_id = p_user_id;
END;
$$;


ALTER FUNCTION public.get_user_consents(p_user_id character varying) OWNER TO postgres;

--
-- Name: has_consent_astrology(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.has_consent_astrology(p_user_id character varying) RETURNS boolean
    LANGUAGE plpgsql STABLE
    AS $$
DECLARE
  v_consent BOOLEAN;
BEGIN
  SELECT consent_astrology INTO v_consent
  FROM user_consents
  WHERE user_id = p_user_id;
  
  RETURN COALESCE(v_consent, FALSE);
END;
$$;


ALTER FUNCTION public.has_consent_astrology(p_user_id character varying) OWNER TO postgres;

--
-- Name: has_consent_chat_analysis(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.has_consent_chat_analysis(p_user_id character varying) RETURNS boolean
    LANGUAGE plpgsql STABLE
    AS $$
DECLARE
  v_consent BOOLEAN;
BEGIN
  SELECT consent_chat_analysis INTO v_consent
  FROM user_consents
  WHERE user_id = p_user_id;
  
  RETURN COALESCE(v_consent, FALSE);
END;
$$;


ALTER FUNCTION public.has_consent_chat_analysis(p_user_id character varying) OWNER TO postgres;

--
-- Name: has_consent_health_data(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.has_consent_health_data(p_user_id character varying) RETURNS boolean
    LANGUAGE plpgsql STABLE
    AS $$
DECLARE
  v_consent BOOLEAN;
BEGIN
  SELECT consent_health_data INTO v_consent
  FROM user_consents
  WHERE user_id = p_user_id;
  
  RETURN COALESCE(v_consent, FALSE);
END;
$$;


ALTER FUNCTION public.has_consent_health_data(p_user_id character varying) OWNER TO postgres;

--
-- Name: is_account_locked(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.is_account_locked(p_user_id uuid) RETURNS boolean
    LANGUAGE plpgsql STABLE
    AS $$
DECLARE
  v_lockout_exists BOOLEAN;
BEGIN
  SELECT EXISTS(
    SELECT 1 FROM user_account_lockouts
    WHERE user_id = p_user_id AND unlock_at > NOW()
  ) INTO v_lockout_exists;
  
  RETURN COALESCE(v_lockout_exists, FALSE);
END;
$$;


ALTER FUNCTION public.is_account_locked(p_user_id uuid) OWNER TO postgres;

--
-- Name: FUNCTION is_account_locked(p_user_id uuid); Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON FUNCTION public.is_account_locked(p_user_id uuid) IS 'Check if a user account is currently locked (returns true/false)';


--
-- Name: is_account_locked(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.is_account_locked(p_user_id character varying) RETURNS boolean
    LANGUAGE plpgsql STABLE
    AS $$
DECLARE
  v_lockout_exists BOOLEAN;
BEGIN
  SELECT EXISTS(
    SELECT 1 FROM user_account_lockouts
    WHERE user_id = p_user_id AND unlock_at > NOW()
  ) INTO v_lockout_exists;
  
  RETURN COALESCE(v_lockout_exists, FALSE);
END;
$$;


ALTER FUNCTION public.is_account_locked(p_user_id character varying) OWNER TO postgres;

--
-- Name: FUNCTION is_account_locked(p_user_id character varying); Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON FUNCTION public.is_account_locked(p_user_id character varying) IS 'Check if a user account is currently locked (returns true/false)';


--
-- Name: lock_account_on_failed_attempts(uuid, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.lock_account_on_failed_attempts(p_user_id uuid, p_threshold integer DEFAULT 5) RETURNS boolean
    LANGUAGE plpgsql
    AS $$
DECLARE
  v_failed_count INTEGER;
  v_unlock_time TIMESTAMP;
BEGIN
  -- Count failed attempts in last 60 minutes
  v_failed_count := count_recent_failed_attempts(p_user_id, 60);
  
  -- If threshold reached, lock account for 15 minutes
  IF v_failed_count >= p_threshold THEN
    v_unlock_time := NOW() + INTERVAL '15 minutes';
    
    INSERT INTO user_account_lockouts (user_id, reason, failed_attempt_count, unlock_at, details)
    VALUES (p_user_id, 'failed_attempts', v_failed_count, v_unlock_time, '{}')
    ON CONFLICT (user_id) WHERE (unlock_at > NOW()) 
    DO UPDATE SET 
      failed_attempt_count = v_failed_count,
      unlock_at = v_unlock_time;
    
    RETURN TRUE;  -- Account was locked
  END IF;
  
  RETURN FALSE;  -- Account not locked
END;
$$;


ALTER FUNCTION public.lock_account_on_failed_attempts(p_user_id uuid, p_threshold integer) OWNER TO postgres;

--
-- Name: FUNCTION lock_account_on_failed_attempts(p_user_id uuid, p_threshold integer); Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON FUNCTION public.lock_account_on_failed_attempts(p_user_id uuid, p_threshold integer) IS 'Lock account if failed attempts exceed threshold (default 5 in 60 minutes)';


--
-- Name: lock_account_on_failed_attempts(character varying, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.lock_account_on_failed_attempts(p_user_id character varying, p_threshold integer DEFAULT 5) RETURNS boolean
    LANGUAGE plpgsql
    AS $$
DECLARE
  v_failed_count INTEGER;
  v_unlock_time TIMESTAMP;
BEGIN
  -- Count failed attempts in last 60 minutes
  v_failed_count := count_recent_failed_attempts(p_user_id, 60);
  
  -- If threshold reached, lock account for 15 minutes
  IF v_failed_count >= p_threshold THEN
    v_unlock_time := NOW() + INTERVAL '15 minutes';
    
    INSERT INTO user_account_lockouts (user_id, reason, failed_attempt_count, unlock_at, details)
    VALUES (p_user_id, 'failed_attempts', v_failed_count, v_unlock_time, '{}'::JSONB)
    ON CONFLICT (user_id) DO UPDATE SET 
      failed_attempt_count = v_failed_count,
      unlock_at = v_unlock_time
    WHERE user_account_lockouts.unlock_at > NOW();
    
    RETURN TRUE;  -- Account was locked
  END IF;
  
  RETURN FALSE;  -- Account not locked
END;
$$;


ALTER FUNCTION public.lock_account_on_failed_attempts(p_user_id character varying, p_threshold integer) OWNER TO postgres;

--
-- Name: FUNCTION lock_account_on_failed_attempts(p_user_id character varying, p_threshold integer); Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON FUNCTION public.lock_account_on_failed_attempts(p_user_id character varying, p_threshold integer) IS 'Lock account if failed attempts exceed threshold (default 5 in 60 minutes)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_deletion_audit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.account_deletion_audit (
    id integer NOT NULL,
    user_id character varying(255) NOT NULL,
    action character varying(50) NOT NULL,
    action_timestamp timestamp without time zone DEFAULT now() NOT NULL,
    reason character varying(255),
    ip_address inet,
    user_agent text,
    details jsonb,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.account_deletion_audit OWNER TO postgres;

--
-- Name: account_deletion_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.account_deletion_audit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.account_deletion_audit_id_seq OWNER TO postgres;

--
-- Name: account_deletion_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.account_deletion_audit_id_seq OWNED BY public.account_deletion_audit.id;


--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_log (
    id integer NOT NULL,
    user_id character varying(50),
    action character varying(100),
    details jsonb,
    ip_address inet,
    user_agent text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.audit_log OWNER TO postgres;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_log_id_seq OWNER TO postgres;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id character varying(255),
    is_temp_account boolean DEFAULT false,
    action character varying(100) NOT NULL,
    resource_type character varying(50),
    resource_id uuid,
    created_at timestamp without time zone DEFAULT now(),
    ip_address inet,
    user_agent text,
    http_method character varying(10),
    endpoint character varying(255),
    status character varying(50) DEFAULT 'SUCCESS'::character varying,
    error_code character varying(100),
    error_message text,
    details jsonb DEFAULT '{}'::jsonb,
    duration_ms integer,
    ip_address_encrypted bytea
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: TABLE audit_logs; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.audit_logs IS 'Security audit log table - tracks all critical user actions for compliance and security analysis';


--
-- Name: COLUMN audit_logs.action; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.audit_logs.action IS 'Action type (USER_LOGIN_SUCCESS, CHAT_MESSAGE_CREATED, etc.)';


--
-- Name: COLUMN audit_logs.resource_type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.audit_logs.resource_type IS 'Category of resource (authentication, messages, profile, account)';


--
-- Name: COLUMN audit_logs.status; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.audit_logs.status IS 'SUCCESS or FAILURE - helps identify attacks';


--
-- Name: COLUMN audit_logs.details; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.audit_logs.details IS 'JSONB field for action-specific metadata';


--
-- Name: login_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.login_attempts (
    id integer NOT NULL,
    user_id character varying(255),
    email_attempted character varying(255),
    ip_address inet NOT NULL,
    user_agent text,
    attempt_type character varying(50),
    reason character varying(255),
    created_at timestamp without time zone DEFAULT now(),
    email_attempted_encrypted bytea,
    ip_address_encrypted bytea
);


ALTER TABLE public.login_attempts OWNER TO postgres;

--
-- Name: TABLE login_attempts; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.login_attempts IS 'Login attempt audit trail - tracks all login attempts for security analysis';


--
-- Name: COLUMN login_attempts.attempt_type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.login_attempts.attempt_type IS 'Type of attempt: success, failed_password, failed_2fa, or blocked';


--
-- Name: COLUMN login_attempts.reason; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.login_attempts.reason IS 'Reason for failure (account_locked, wrong_password, etc.)';


--
-- Name: login_attempts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.login_attempts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.login_attempts_id_seq OWNER TO postgres;

--
-- Name: login_attempts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.login_attempts_id_seq OWNED BY public.login_attempts.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    role character varying(50),
    content text,
    content_encrypted bytea,
    user_id character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.messages_id_seq OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: pending_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pending_migrations (
    id integer NOT NULL,
    temp_user_id character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    migrated boolean DEFAULT false,
    migrated_at timestamp without time zone,
    email_encrypted bytea
);


ALTER TABLE public.pending_migrations OWNER TO postgres;

--
-- Name: pending_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pending_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pending_migrations_id_seq OWNER TO postgres;

--
-- Name: pending_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pending_migrations_id_seq OWNED BY public.pending_migrations.id;


--
-- Name: security; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.security (
    id integer NOT NULL,
    user_id character varying(255) NOT NULL,
    phone_number character varying(255),
    recovery_phone character varying(255),
    recovery_email character varying(255),
    phone_verified boolean DEFAULT false,
    recovery_phone_verified boolean DEFAULT false,
    recovery_email_verified boolean DEFAULT false,
    password_changed_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.security OWNER TO postgres;

--
-- Name: security_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.security_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.security_id_seq OWNER TO postgres;

--
-- Name: security_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.security_id_seq OWNED BY public.security.id;


--
-- Name: security_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.security_sessions (
    id integer NOT NULL,
    user_id character varying(255) NOT NULL,
    firebase_token character varying(1024) NOT NULL,
    device_name character varying(255),
    ip_address character varying(45),
    user_agent character varying(500),
    last_active timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    ip_address_encrypted bytea,
    device_name_encrypted bytea
);


ALTER TABLE public.security_sessions OWNER TO postgres;

--
-- Name: security_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.security_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.security_sessions_id_seq OWNER TO postgres;

--
-- Name: security_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.security_sessions_id_seq OWNED BY public.security_sessions.id;


--
-- Name: user_2fa_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_2fa_codes (
    id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    code character varying(10) NOT NULL,
    code_type character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp without time zone,
    used boolean DEFAULT false
);


ALTER TABLE public.user_2fa_codes OWNER TO postgres;

--
-- Name: user_2fa_codes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_2fa_codes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_2fa_codes_id_seq OWNER TO postgres;

--
-- Name: user_2fa_codes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_2fa_codes_id_seq OWNED BY public.user_2fa_codes.id;


--
-- Name: user_2fa_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_2fa_settings (
    id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    enabled boolean DEFAULT true,
    method character varying(20) DEFAULT 'sms'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    phone_number_encrypted bytea,
    backup_phone_number_encrypted bytea,
    persistent_session boolean DEFAULT false
);


ALTER TABLE public.user_2fa_settings OWNER TO postgres;

--
-- Name: user_2fa_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_2fa_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_2fa_settings_id_seq OWNER TO postgres;

--
-- Name: user_2fa_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_2fa_settings_id_seq OWNED BY public.user_2fa_settings.id;


--
-- Name: user_account_lockouts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_account_lockouts (
    id integer NOT NULL,
    user_id character varying(255) NOT NULL,
    reason character varying(100) NOT NULL,
    failed_attempt_count integer DEFAULT 0,
    locked_at timestamp without time zone DEFAULT now(),
    unlock_at timestamp without time zone NOT NULL,
    details jsonb DEFAULT '{}'::jsonb,
    ip_addresses_encrypted bytea
);


ALTER TABLE public.user_account_lockouts OWNER TO postgres;

--
-- Name: TABLE user_account_lockouts; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.user_account_lockouts IS 'Tracks active account lockouts due to failed login attempts or admin action';


--
-- Name: user_account_lockouts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_account_lockouts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_account_lockouts_id_seq OWNER TO postgres;

--
-- Name: user_account_lockouts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_account_lockouts_id_seq OWNED BY public.user_account_lockouts.id;


--
-- Name: user_astrology; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_astrology (
    id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    zodiac_sign character varying(50),
    astrology_data jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_astrology OWNER TO postgres;

--
-- Name: user_astrology_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_astrology_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_astrology_id_seq OWNER TO postgres;

--
-- Name: user_astrology_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_astrology_id_seq OWNED BY public.user_astrology.id;


--
-- Name: user_consents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_consents (
    id integer NOT NULL,
    user_id character varying(255) NOT NULL,
    terms_version character varying(10),
    terms_accepted boolean DEFAULT false,
    terms_accepted_at timestamp without time zone,
    privacy_version character varying(10),
    privacy_accepted boolean DEFAULT false,
    privacy_accepted_at timestamp without time zone,
    consent_astrology boolean DEFAULT false,
    consent_chat_analysis boolean DEFAULT false,
    consent_health_wellness boolean DEFAULT false,
    ip_address_encrypted bytea,
    user_agent text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_consents OWNER TO postgres;

--
-- Name: user_consents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_consents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_consents_id_seq OWNER TO postgres;

--
-- Name: user_consents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_consents_id_seq OWNED BY public.user_consents.id;


--
-- Name: user_login_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_login_attempts (
    id integer NOT NULL,
    user_id character varying(255),
    ip_address inet NOT NULL,
    user_agent text,
    success boolean NOT NULL,
    reason character varying(100),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_login_attempts OWNER TO postgres;

--
-- Name: TABLE user_login_attempts; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.user_login_attempts IS 'Tracks all login attempts (success/failure) for audit and brute force detection';


--
-- Name: user_login_attempts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_login_attempts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_login_attempts_id_seq OWNER TO postgres;

--
-- Name: user_login_attempts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_login_attempts_id_seq OWNED BY public.user_login_attempts.id;


--
-- Name: user_personal_info; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_personal_info (
    id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    email_hash character varying(64),
    password_hash character varying(255),
    email_verified boolean DEFAULT false,
    email_verified_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    email_encrypted bytea,
    first_name_encrypted bytea,
    last_name_encrypted bytea,
    birth_date_encrypted bytea,
    birth_city_encrypted bytea,
    birth_timezone_encrypted bytea,
    birth_country_encrypted bytea,
    birth_province_encrypted bytea,
    is_suspended boolean DEFAULT false,
    suspension_end_date timestamp without time zone,
    sex_encrypted bytea,
    address_preference_encrypted bytea,
    birth_time_encrypted bytea,
    phone_number_encrypted bytea,
    deletion_requested_at timestamp without time zone,
    deletion_status character varying(50) DEFAULT 'active'::character varying,
    anonymization_date timestamp without time zone,
    final_deletion_date timestamp without time zone,
    deletion_reason character varying(255)
);


ALTER TABLE public.user_personal_info OWNER TO postgres;

--
-- Name: COLUMN user_personal_info.sex_encrypted; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.user_personal_info.sex_encrypted IS 'Encrypted sex/gender (PII) - personal profile data';


--
-- Name: COLUMN user_personal_info.phone_number_encrypted; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.user_personal_info.phone_number_encrypted IS 'Encrypted phone number (PII) - used for 2FA SMS, never stored plaintext';


--
-- Name: COLUMN user_personal_info.deletion_requested_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.user_personal_info.deletion_requested_at IS 'Timestamp when user requested account deletion (start of 30-day grace period)';


--
-- Name: COLUMN user_personal_info.deletion_status; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.user_personal_info.deletion_status IS 'Status: active, pending_deletion, anonymized, or deleted';


--
-- Name: COLUMN user_personal_info.anonymization_date; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.user_personal_info.anonymization_date IS 'Date when PII was anonymized (1 year after deletion request)';


--
-- Name: COLUMN user_personal_info.final_deletion_date; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.user_personal_info.final_deletion_date IS 'Date when account will be permanently deleted (2 years after deletion request)';


--
-- Name: user_personal_info_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_personal_info_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_personal_info_id_seq OWNER TO postgres;

--
-- Name: user_personal_info_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_personal_info_id_seq OWNED BY public.user_personal_info.id;


--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_sessions (
    id integer NOT NULL,
    user_id character varying(255) NOT NULL,
    session_token character varying(500) NOT NULL,
    device_name character varying(255),
    device_type character varying(50),
    browser_name character varying(100),
    browser_version character varying(50),
    ip_address inet NOT NULL,
    user_agent text,
    created_at timestamp without time zone DEFAULT now(),
    last_activity_at timestamp without time zone DEFAULT now(),
    expires_at timestamp without time zone NOT NULL,
    logged_out_at timestamp without time zone,
    status character varying(50) DEFAULT 'active'::character varying,
    is_2fa_verified boolean DEFAULT false,
    suspicious_activity boolean DEFAULT false,
    ip_address_encrypted bytea
);


ALTER TABLE public.user_sessions OWNER TO postgres;

--
-- Name: TABLE user_sessions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.user_sessions IS 'User session management - tracks active sessions with timeout and multi-device support';


--
-- Name: COLUMN user_sessions.session_token; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.user_sessions.session_token IS 'Unique session token (stored as hash in practice)';


--
-- Name: COLUMN user_sessions.last_activity_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.user_sessions.last_activity_at IS 'Last time user was active in this session';


--
-- Name: COLUMN user_sessions.expires_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.user_sessions.expires_at IS 'Session expiration timestamp (inactivity timeout)';


--
-- Name: COLUMN user_sessions.status; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.user_sessions.status IS 'Session status: active, expired, revoked, or logged_out';


--
-- Name: user_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_sessions_id_seq OWNER TO postgres;

--
-- Name: user_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_sessions_id_seq OWNED BY public.user_sessions.id;


--
-- Name: verification_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.verification_codes (
    id integer NOT NULL,
    user_id character varying(255) NOT NULL,
    phone_number character varying(255),
    email character varying(255),
    code character varying(6) NOT NULL,
    code_type character varying(10) DEFAULT 'sms'::character varying NOT NULL,
    attempts integer DEFAULT 0,
    max_attempts integer DEFAULT 3,
    expires_at timestamp without time zone NOT NULL,
    verified_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    phone_number_encrypted bytea,
    email_encrypted bytea
);


ALTER TABLE public.verification_codes OWNER TO postgres;

--
-- Name: verification_codes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.verification_codes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.verification_codes_id_seq OWNER TO postgres;

--
-- Name: verification_codes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.verification_codes_id_seq OWNED BY public.verification_codes.id;


--
-- Name: account_deletion_audit id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_deletion_audit ALTER COLUMN id SET DEFAULT nextval('public.account_deletion_audit_id_seq'::regclass);


--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Name: login_attempts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login_attempts ALTER COLUMN id SET DEFAULT nextval('public.login_attempts_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: pending_migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pending_migrations ALTER COLUMN id SET DEFAULT nextval('public.pending_migrations_id_seq'::regclass);


--
-- Name: security id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security ALTER COLUMN id SET DEFAULT nextval('public.security_id_seq'::regclass);


--
-- Name: security_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_sessions ALTER COLUMN id SET DEFAULT nextval('public.security_sessions_id_seq'::regclass);


--
-- Name: user_2fa_codes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_2fa_codes ALTER COLUMN id SET DEFAULT nextval('public.user_2fa_codes_id_seq'::regclass);


--
-- Name: user_2fa_settings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_2fa_settings ALTER COLUMN id SET DEFAULT nextval('public.user_2fa_settings_id_seq'::regclass);


--
-- Name: user_account_lockouts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_account_lockouts ALTER COLUMN id SET DEFAULT nextval('public.user_account_lockouts_id_seq'::regclass);


--
-- Name: user_astrology id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_astrology ALTER COLUMN id SET DEFAULT nextval('public.user_astrology_id_seq'::regclass);


--
-- Name: user_consents id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_consents ALTER COLUMN id SET DEFAULT nextval('public.user_consents_id_seq'::regclass);


--
-- Name: user_login_attempts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_login_attempts ALTER COLUMN id SET DEFAULT nextval('public.user_login_attempts_id_seq'::regclass);


--
-- Name: user_personal_info id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_personal_info ALTER COLUMN id SET DEFAULT nextval('public.user_personal_info_id_seq'::regclass);


--
-- Name: user_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions ALTER COLUMN id SET DEFAULT nextval('public.user_sessions_id_seq'::regclass);


--
-- Name: verification_codes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_codes ALTER COLUMN id SET DEFAULT nextval('public.verification_codes_id_seq'::regclass);


--
-- Data for Name: account_deletion_audit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.account_deletion_audit (id, user_id, action, action_timestamp, reason, ip_address, user_agent, details, created_at) FROM stdin;
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_log (id, user_id, action, details, ip_address, user_agent, created_at) FROM stdin;
1	q2dXyJCicZelce2gRAANbo3L2lW2	CONSENT_CREATED	{"timestamp": "2025-12-10T14:13:26.099698", "agreed_from_ip": "::ffff:172.18.0.1", "consent_astrology": true, "consent_health_data": false, "consent_chat_analysis": true}	::ffff:172.18.0.1	\N	2025-12-10 14:13:26.099698
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: login_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.login_attempts (id, user_id, email_attempted, ip_address, user_agent, attempt_type, reason, created_at, email_attempted_encrypted, ip_address_encrypted) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pending_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pending_migrations (id, temp_user_id, email, created_at, migrated, migrated_at, email_encrypted) FROM stdin;
\.


--
-- Data for Name: security; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.security (id, user_id, phone_number, recovery_phone, recovery_email, phone_verified, recovery_phone_verified, recovery_email_verified, password_changed_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: security_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.security_sessions (id, user_id, firebase_token, device_name, ip_address, user_agent, last_active, created_at, ip_address_encrypted, device_name_encrypted) FROM stdin;
\.


--
-- Data for Name: user_2fa_codes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_2fa_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_account_lockouts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_account_lockouts (id, user_id, reason, failed_attempt_count, locked_at, unlock_at, details, ip_addresses_encrypted) FROM stdin;
\.


--
-- Data for Name: user_astrology; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_consents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_consents (id, user_id, terms_version, terms_accepted, terms_accepted_at, privacy_version, privacy_accepted, privacy_accepted_at, consent_astrology, consent_chat_analysis, consent_health_wellness, ip_address_encrypted, user_agent, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_login_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_login_attempts (id, user_id, ip_address, user_agent, success, reason, created_at) FROM stdin;
\.


--
-- Data for Name: user_personal_info; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_sessions (id, user_id, session_token, device_name, device_type, browser_name, browser_version, ip_address, user_agent, created_at, last_activity_at, expires_at, logged_out_at, status, is_2fa_verified, suspicious_activity, ip_address_encrypted) FROM stdin;
\.


--
-- Data for Name: verification_codes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.verification_codes (id, user_id, phone_number, email, code, code_type, attempts, max_attempts, expires_at, verified_at, created_at, phone_number_encrypted, email_encrypted) FROM stdin;
\.


--
-- Name: account_deletion_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.account_deletion_audit_id_seq', 1, false);


--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 1, true);


--
-- Name: login_attempts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.login_attempts_id_seq', 1, false);


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.messages_id_seq', 269, true);


--
-- Name: pending_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pending_migrations_id_seq', 1, false);


--
-- Name: security_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.security_id_seq', 1, false);


--
-- Name: security_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.security_sessions_id_seq', 12, true);


--
-- Name: user_2fa_codes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_2fa_codes_id_seq', 36, true);


--
-- Name: user_2fa_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_2fa_settings_id_seq', 20, true);


--
-- Name: user_account_lockouts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_account_lockouts_id_seq', 1, false);


--
-- Name: user_astrology_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_astrology_id_seq', 51, true);


--
-- Name: user_consents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_consents_id_seq', 1, false);


--
-- Name: user_login_attempts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_login_attempts_id_seq', 1, false);


--
-- Name: user_personal_info_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_personal_info_id_seq', 52, true);


--
-- Name: user_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_sessions_id_seq', 1, false);


--
-- Name: verification_codes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.verification_codes_id_seq', 1, false);


--
-- Name: account_deletion_audit account_deletion_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_deletion_audit
    ADD CONSTRAINT account_deletion_audit_pkey PRIMARY KEY (id);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: login_attempts login_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login_attempts
    ADD CONSTRAINT login_attempts_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: pending_migrations pending_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pending_migrations
    ADD CONSTRAINT pending_migrations_pkey PRIMARY KEY (id);


--
-- Name: pending_migrations pending_migrations_temp_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pending_migrations
    ADD CONSTRAINT pending_migrations_temp_user_id_key UNIQUE (temp_user_id);


--
-- Name: security security_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security
    ADD CONSTRAINT security_pkey PRIMARY KEY (id);


--
-- Name: security_sessions security_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_sessions
    ADD CONSTRAINT security_sessions_pkey PRIMARY KEY (id);


--
-- Name: security security_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security
    ADD CONSTRAINT security_user_id_key UNIQUE (user_id);


--
-- Name: user_2fa_codes user_2fa_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_2fa_codes
    ADD CONSTRAINT user_2fa_codes_pkey PRIMARY KEY (id);


--
-- Name: user_2fa_settings user_2fa_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_2fa_settings
    ADD CONSTRAINT user_2fa_settings_pkey PRIMARY KEY (id);


--
-- Name: user_2fa_settings user_2fa_settings_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_2fa_settings
    ADD CONSTRAINT user_2fa_settings_user_id_key UNIQUE (user_id);


--
-- Name: user_account_lockouts user_account_lockouts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_account_lockouts
    ADD CONSTRAINT user_account_lockouts_pkey PRIMARY KEY (id);


--
-- Name: user_astrology user_astrology_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_astrology
    ADD CONSTRAINT user_astrology_pkey PRIMARY KEY (id);


--
-- Name: user_astrology user_astrology_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_astrology
    ADD CONSTRAINT user_astrology_user_id_key UNIQUE (user_id);


--
-- Name: user_consents user_consents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_consents
    ADD CONSTRAINT user_consents_pkey PRIMARY KEY (id);


--
-- Name: user_consents user_consents_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_consents
    ADD CONSTRAINT user_consents_user_id_key UNIQUE (user_id);


--
-- Name: user_login_attempts user_login_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_login_attempts
    ADD CONSTRAINT user_login_attempts_pkey PRIMARY KEY (id);


--
-- Name: user_personal_info user_personal_info_email_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_personal_info
    ADD CONSTRAINT user_personal_info_email_hash_key UNIQUE (email_hash);


--
-- Name: user_personal_info user_personal_info_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_personal_info
    ADD CONSTRAINT user_personal_info_pkey PRIMARY KEY (id);


--
-- Name: user_personal_info user_personal_info_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_personal_info
    ADD CONSTRAINT user_personal_info_user_id_key UNIQUE (user_id);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (id);


--
-- Name: user_sessions user_sessions_session_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_session_token_key UNIQUE (session_token);


--
-- Name: verification_codes verification_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_codes
    ADD CONSTRAINT verification_codes_pkey PRIMARY KEY (id);


--
-- Name: idx_account_lockouts_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_account_lockouts_active ON public.user_account_lockouts USING btree (user_id, unlock_at DESC);


--
-- Name: idx_account_lockouts_unlock_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_account_lockouts_unlock_at ON public.user_account_lockouts USING btree (unlock_at DESC);


--
-- Name: idx_account_lockouts_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_account_lockouts_user_id ON public.user_account_lockouts USING btree (user_id);


--
-- Name: idx_audit_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_action ON public.audit_logs USING btree (action);


--
-- Name: idx_audit_action_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_action_time ON public.audit_logs USING btree (action, created_at DESC);


--
-- Name: idx_audit_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_created_at ON public.audit_logs USING btree (created_at DESC);


--
-- Name: idx_audit_ip_address; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_ip_address ON public.audit_logs USING btree (ip_address);


--
-- Name: idx_audit_resource; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_resource ON public.audit_logs USING btree (resource_type, resource_id);


--
-- Name: idx_audit_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_status ON public.audit_logs USING btree (status);


--
-- Name: idx_audit_status_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_status_time ON public.audit_logs USING btree (status, created_at DESC);


--
-- Name: idx_audit_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_timestamp ON public.audit_log USING btree (created_at);


--
-- Name: idx_audit_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_user_id ON public.audit_log USING btree (user_id);


--
-- Name: idx_audit_user_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_user_time ON public.audit_logs USING btree (user_id, created_at DESC);


--
-- Name: idx_deletion_audit_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_deletion_audit_action ON public.account_deletion_audit USING btree (action);


--
-- Name: idx_deletion_audit_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_deletion_audit_timestamp ON public.account_deletion_audit USING btree (action_timestamp DESC);


--
-- Name: idx_deletion_audit_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_deletion_audit_user_id ON public.account_deletion_audit USING btree (user_id);


--
-- Name: idx_login_attempts_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_attempts_created ON public.login_attempts USING btree (created_at DESC);


--
-- Name: idx_login_attempts_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_attempts_created_at ON public.user_login_attempts USING btree (created_at DESC);


--
-- Name: idx_login_attempts_ip; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_attempts_ip ON public.login_attempts USING btree (ip_address);


--
-- Name: idx_login_attempts_ip_address; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_attempts_ip_address ON public.user_login_attempts USING btree (ip_address);


--
-- Name: idx_login_attempts_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_attempts_type ON public.login_attempts USING btree (attempt_type);


--
-- Name: idx_login_attempts_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_attempts_user ON public.login_attempts USING btree (user_id);


--
-- Name: idx_login_attempts_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_attempts_user_id ON public.user_login_attempts USING btree (user_id);


--
-- Name: idx_login_attempts_user_recent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_attempts_user_recent ON public.user_login_attempts USING btree (user_id, created_at DESC) WHERE (success = false);


--
-- Name: idx_pending_migrations_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pending_migrations_email ON public.pending_migrations USING btree (email);


--
-- Name: idx_pending_migrations_temp_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pending_migrations_temp_id ON public.pending_migrations USING btree (temp_user_id);


--
-- Name: idx_security_sessions_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_sessions_token ON public.security_sessions USING btree (firebase_token);


--
-- Name: idx_security_sessions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_sessions_user_id ON public.security_sessions USING btree (user_id);


--
-- Name: idx_security_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_user_id ON public.security USING btree (user_id);


--
-- Name: idx_sessions_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sessions_active ON public.user_sessions USING btree (user_id, status) WHERE ((status)::text = 'active'::text);


--
-- Name: idx_sessions_expires; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sessions_expires ON public.user_sessions USING btree (expires_at);


--
-- Name: idx_sessions_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sessions_status ON public.user_sessions USING btree (status);


--
-- Name: idx_sessions_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sessions_token ON public.user_sessions USING btree (session_token);


--
-- Name: idx_sessions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sessions_user_id ON public.user_sessions USING btree (user_id);


--
-- Name: idx_user_2fa_settings_persistent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_2fa_settings_persistent ON public.user_2fa_settings USING btree (persistent_session);


--
-- Name: idx_user_consents_privacy_accepted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_consents_privacy_accepted ON public.user_consents USING btree (privacy_accepted);


--
-- Name: idx_user_consents_terms_accepted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_consents_terms_accepted ON public.user_consents USING btree (terms_accepted);


--
-- Name: idx_user_consents_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_consents_user_id ON public.user_consents USING btree (user_id);


--
-- Name: idx_user_deletion_requested; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_deletion_requested ON public.user_personal_info USING btree (deletion_requested_at DESC) WHERE (deletion_requested_at IS NOT NULL);


--
-- Name: idx_user_deletion_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_deletion_status ON public.user_personal_info USING btree (deletion_status) WHERE ((deletion_status)::text <> 'active'::text);


--
-- Name: idx_user_email_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_email_hash ON public.user_personal_info USING btree (email_hash);


--
-- Name: idx_user_final_deletion_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_final_deletion_date ON public.user_personal_info USING btree (final_deletion_date) WHERE (final_deletion_date IS NOT NULL);


--
-- Name: idx_verification_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_verification_code ON public.verification_codes USING btree (code);


--
-- Name: idx_verification_expires; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_verification_expires ON public.verification_codes USING btree (expires_at);


--
-- Name: idx_verification_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_verification_user_id ON public.verification_codes USING btree (user_id);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_personal_info(user_id) ON DELETE SET NULL;


--
-- Name: user_consents fk_user_consents_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_consents
    ADD CONSTRAINT fk_user_consents_user_id FOREIGN KEY (user_id) REFERENCES public.user_personal_info(user_id) ON DELETE CASCADE;


--
-- Name: security_sessions security_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_sessions
    ADD CONSTRAINT security_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_personal_info(user_id) ON DELETE CASCADE DEFERRABLE INITIALLY DEFERRED;


--
-- Name: security security_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security
    ADD CONSTRAINT security_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_personal_info(user_id) ON DELETE CASCADE;


--
-- Name: user_account_lockouts user_account_lockouts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_account_lockouts
    ADD CONSTRAINT user_account_lockouts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_personal_info(user_id) ON DELETE CASCADE;


--
-- Name: user_login_attempts user_login_attempts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_login_attempts
    ADD CONSTRAINT user_login_attempts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_personal_info(user_id) ON DELETE CASCADE;


--
-- Name: user_sessions user_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_personal_info(user_id) ON DELETE CASCADE;


--
-- Name: verification_codes verification_codes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_codes
    ADD CONSTRAINT verification_codes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_personal_info(user_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict a1rvFfHDPV3jaatubUrHSxgNupG7T33ZXNZ7gNVbQuPfKn2MonmW7pWJ2SYTZl8

