{
  "username": "YOUR_DB_USERNAME",
  "password": "YOUR_DB_PASSWORD",
  "engine": "postgres",
  "host": "YOUR_RDS_ENDPOINT",
  "port": 5432,
  "dbInstanceIdentifier": "YOUR_DB_INSTANCE_ID",
  "database": "YOUR_DATABASE_NAME"
}
